@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-ExtraLight.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-ExtraLight.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-ExtraBoldItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-ExtraBold.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-ExtraBold.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-ExtraLightItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-ExtraLightItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Bold.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Bold.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Black.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Black.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-BlackItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-BlackItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Italic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Italic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-BoldItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-BoldItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Thin.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Thin.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Medium.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Medium.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-MediumItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-MediumItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-LightItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-LightItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Regular.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Regular.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-ThinItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-ThinItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-SemiBoldItalic.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-SemiBoldItalic.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-SemiBold.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-SemiBold.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../Assets/fonts/DMSans/DMSans-Light.woff2") format("woff2"),
    url("../Assets/fonts/DMSans/DMSans-Light.woff") format("woff"),
    url("../Assets/fonts/DMSans/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk Medium"), local("SpaceGrotesk-Medium"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff") format("woff"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk Bold"), local("SpaceGrotesk-Bold"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff") format("woff"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk Light"), local("SpaceGrotesk-Light"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2") format("woff2"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff") format("woff"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk SemiBold"), local("SpaceGrotesk-SemiBold"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff2") format("woff2"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff") format("woff"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: local("Space Grotesk Regular"), local("SpaceGrotesk-Regular"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff") format("woff"),
    url("../Assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-display: swap;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-display: swap;
}
